<% provide(:title, 'Log in') %>
<h1>Log in</h1>

<div class="row-fluid">
    <div class="span6 offset3">
        <%= form_tag sessions_path do %>  
            <div class="field">  
                <%= label_tag :email, 'Utilizador' %>  
                <%= text_field_tag :email, params[:email] %>  
            </div>  
            <div class="field">  
                <%= label_tag :password, 'Senha' %>  
                <%= password_field_tag :password %>  
            </div>  
            <div class="actions">
                <%= submit_tag "Entrar", class: 'btn btn-primary btn-large' %>
            </div>  
        <% end %>
    </div>
</div>