<div class="row-fluid">
	<div class="span10 offset1">
		<h1><%= @diary.patient.nome %></h1>
		<h2><%= @diary.created_at.day %>/<%= @diary.created_at.month %>/<%= @diary.created_at.year %> | <%= @diary.diagnostico %></h2>

		<%= form_for([@patient,@diary]) do |f| %>
			<fieldset>
				<legend>Editar diário</legend>
				<div id="datetimepicker" class="input-append date">
        			<%= f.label :data_consulta, "Data da Consulta" %>
					<%= f.text_field :data_consulta %>
					<span class="add-on">
						<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
					</span>
				</div>
				<%= f.label :diagnostico, "Diagnóstico" %>
				<%= f.text_field :diagnostico %>
				<%= f.label :historial, "História Clínica" %>
				<%= f.text_area :historial %>
			</fieldset>
			<%= f.submit 'Guardar', class: 'btn btn-success' %>
			<%= link_to 'Retroceder', patient_path(@patient), class: 'btn' %>
		<% end %>
	</div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('#datetimepicker').datetimepicker({
            format: 'yyyy-MM-dd',
            pickTime: false
        });
    });
</script>