<div class="row-fluid">
	<div class="span10 offset1">
		<h1><%= @diary.patient.nome %></h1>
		<h2><%= @diary.created_at.day %>/<%= @diary.created_at.month %>/<%= @diary.created_at.year %> | <%= @diary.diagnostico %></h2>

		<%= form_for([@patient,@diary]) do |f| %>
			<fieldset>
				<legend>Editar diário</legend>
				<%= f.label :data_consulta %>
				<%= f.date_select :data_consulta %>
				<%= f.label :diagnostico, "Diagnóstico" %>
				<%= f.text_field :diagnostico %>
				<%= f.label :historial, "História Clínica" %>
				<%= f.text_area :historial %>
			</fieldset>
			<%= f.submit 'Guardar', class: 'btn btn-success' %>
			<%= link_to 'Retroceder', patient_path(@patient), class: 'btn' %>
		<% end %>
	</div>
</div>