<% @diaries.each do |diary| %>
	<h3>
		<%= diary.data_consulta %> | 
		<%= diary.diagnostico %></h3>
	<div>
		<dl>
			<dt>História Clínica</dt>
			<dd><%= diary.historial %></dd>
			<%= link_to 'Apagar nota', [@patient,diary], method: :delete, data: { confirm: 'Tem a certeza?' }, class: 'btn btn-small btn-danger pull-right' %>
			<%= link_to "Editar nota", edit_patient_diary_path(@patient, diary), class: 'btn btn-small pull-right' %>
		</dl>
	</div>
<% end %>