
<%= form_for(@patient) do |f| %>
    <%= render 'error_messages' %>
    <div class="row-fluid">
        <div class="span6">
    
            <fieldset>
                <legend>Identificação</legend>
                <%= f.text_field :nome, placeholder: 'Nome' %>
                <div id="datetimepicker" class="input-append date">
                    <%= f.label :data_de_nascimento %>
                    <%= f.text_field :data_de_nascimento %>
                        <span class="add-on">
                            <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                        </span>
                </div>
                <%= f.text_field :naturalidade, placeholder: 'Naturalidade' %>
                <%= f.text_field :profissao, placeholder: 'Profissão' %>
                <%= f.text_field :contacto, placeholder: 'Telefone ou e-mail' %>
            </fieldset>
            
        </div>
        <div class="span6">
            <fieldset>
                <legend>Residência</legend>
                <%= f.text_field :morada, placeholder: 'Morada' %>
                <%= f.text_field :codigo_postal, class: 'span2' %>
                <%= f.text_field :codigo_postal_ext, class: 'span2' %>
                <%= f.text_field :localidade, placeholder: 'Localidade' %>
            </fieldset>
            <fieldset>
                <legend>Mais Dados</legend>
                <%= f.text_field :rnu, placeholder: 'RNU', class: 'span3' %><br />
                <%= f.collection_select :subsystem_id, Subsystem.all, :id, :nome, prompt: "Serviço Assistencial" %>
                <%= f.text_field :servico_assistencial_numero, placeholder: 'Subsistema', class: 'span3' %>
            </fieldset>
        </div>
    </div>
    <%= f.submit 'Guardar ficha', class: 'btn btn-success' %>
    <%= link_to 'Cancelar', patients_path, class: 'btn' %>          
<% end %>