<% provide(:title, @patient.nome) %>

<h1><%= @patient.nome %></h1>

<div class="row-fluid">
	<div class="span3 well well-small">
		<%= render 'patientid' %>

		<%= link_to "Editar", edit_patient_path, class: 'btn' %>
		<%= link_to "Eliminar", @patient, confirm: 'Eliminar ficha?', method: :delete, class: 'btn btn-danger' %>
	</div>
	<div class="span9 well well-small tabs">
		<ul class="nav nav-tabs">
			<li><a href="#tabs-1" data-target="#tabs-1" data-toggle="tab">Antecedentes</a></li>
			<li><a href="#tabs-2" data-target="#tabs-2" data-toggle="tab">1ª Consulta</a></li>
			<li class="active"><a href="#tabs-3" data-target="#tabs-3" data-toggle="tab">Diário Clínico</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane" id="tabs-1">
				<%= render 'patientantecedentes' %>
			</div>
			<div class="tab-pane" id="tabs-2">
  				<%= render 'firstappointment' %>
  			</div>
  			<div class="tab-pane active fade in" id="tabs-3">
  				<%= render 'diaries/show' %>
  				<div class="span11">
  					<%= render 'diaries/new' %>
				</div>
  			</div>
  		</div>
	</div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('#datetimepicker').datetimepicker({
            format: 'yyyy-MM-dd',
            pickTime: false
        });
    });
</script>